/* BODY */

body {
    background-color: #FAF8EA;
    font-family: 'PT Mono', monospace;
}

@media only screen and (min-width:1200px) {
    body {
        margin: 0 auto;
        max-width: 40%;
    }

}

@media only screen and (max-width:450px) {
    div.information {
        margin-bottom: 3em;
    }
    div.navigation, div.information {
        margin-bottom: 1em;
        font-size: 60%;
    }
    nav span#menu_page_title a {
        text-align: center;
    }
    .saved_games {
        display: block;
        font-size: 75%;
    }
    div.buttons button {
        width: 20%;
    }
}

/* Nav */

div.navigation {
    width: 100%;
    margin-top: .5em;
    border-bottom: solid; 
    border-width: thin; 
    border-color: black;
    padding-bottom: .125em;     
}

nav {
    color: black;
    display: inline; 
    margin-top: 1em; 
    margin-bottom: .25em;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
}


.menu_items {
    float: right;
}

a#profile_link {
    color: #6666FF;
}

#save_span a#unsave {
    color:#F24174;
}

#save_span a#save {
    color:#66b266;
}

/* Information div */
div.information {
    width: 99.3%;
    height: 5em;
}

div.information div#messages {
    height: 25%; 
    margin: 0 auto; 
    width: 100%; 
    color: red;
}

div#messages ul {
    list-style-type: none;
}

/* Information: player info div */

div.playerInfo  {
    height: 75%;
}

div.playerInfo table {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: black; 
    vertical-align: middle; 
    border-collapse: collapse;
}

div.playerInfo table td#whiteplayer {
    width: 25%;
    font-style: italic; 
    background-color: white;
    border: 1px solid black;
}

div.playerInfo table td#status {
    padding: 0 3em 0 3em;
    color: #72AB72;
    font-weight: bold;
}

div.playerInfo table td#blackplayer {
    width: 25%;
    background-color: black;
    color: white; 
    font-style: italic;
}

/* Main game */
div.main_game {
    margin: .25em auto 0 auto;
}

div.main_game div#board {
    width:100%;
}

div.buttons button {
    visibility: hidden;
    outline: none;
    border: none;
    color: white;
    font-family: 'PT Mono';
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div.buttons button#undo_move {
    background-color: #A81A28;
}

div.buttons button#submit_move {
    background-color: #66b266;
}

div.buttons button#share_button {
    visibility:visible;
    display:block; 
    float:right;
    background: #6666FF;
}

/* History */
table#history_table {
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: black; 
    vertical-align: middle; 
    border-collapse: separate;
    border-spacing: 1em;
}

