{% extends 'base.html' %}

{% block content %}
<p>Status: {{ fender }} <span id="status"></span></p>
{% if game_url|length > 1 %}
    <button onClick="share()">Share!</button>
{% endif %} 
   
<script>
    function share()  {
        prompt("Share your game with this link!", "{{ root_path }}"+"{{ game_url }}");
    } 
</script>


<div id="board" style="width: 100%"></div>
<script>
    var current_player = '{{ current_player }}'
    var current_fen = '{{ fen }}'
    var root_path = '{{ root_path }}'
</script>

<script src="{{url_for('static', filename='js/game.js') }} "></script>

<p></p>
<button id=submit_move></button>
<button id=undo_move></button>
{% endblock %}