<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    <title>Chessquick!</title>
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="{{url_for('static', filename='js/chessboard-0.3.0.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/chessboard-0.3.0.min.css') }}">
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
<style>

@media only screen and (min-width:992px) {
    body {
        margin: 0 auto;
        width:40%;
    }
}

nav span a {
    text-decoration: none;
}

</style>
</head>

<body>

<nav style="display:block; border-bottom: solid; border-width: thin; margin-top: 1em; margin-bottom: 1em; padding-bottom: 1.25em;">
    <span style="float:left;"><b><a href='/'>chessquick!</a></b></span>
    <span style="float:right;">

        {% if current_user.is_authenticated %}
            <span id=bookmark></span>
            <a href='/settings'>Settings</a> |
            <a href='/logout'>Logout</a>

        {% else %}

            <a id=loginLink href=/login>Login</a> 
            {% if game_url|length > 1 %}       
                <script>$("#loginLink").attr('href', '/login?game_url={{ game_url }}')</script>
            {% endif %}

        {% endif %}

    </span>
</nav>

{% block content %}{% endblock %}

</body>
</html>