<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Chessquick!</title>
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="{{url_for('static', filename='js/chessboard-0.3.0.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/clipboard.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css') }}">    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/chessboard-0.3.0.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/chessquick.css') }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono|Ubuntu" rel="stylesheet">

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {{ moment.include_moment() }}
</head>

<body>
<div class=navigation>
    <nav>
        <span id='menu_page_title'><b><a href='/'>chessquick!</a></b></span>
        <div class="menu_items">

            {% if current_user.is_authenticated %}
                <a id=notify_link href='#'></a><span id=notify_span> | </span>
                <a id=save_link href='#'></a><span id=save_span> | </span>
                <a id='profile_link' href='/profile'>{{ current_user.username }}</a>
            {% else %}

                <a id=loginLink href=/login>Login</a> 
                {% if game_url|length > 1 %}       
                    <script>$("#loginLink").attr('href', '/login?game_url={{ game_url }}')</script>
                {% endif %}

            {% endif %}

        </div>
    </nav>
</div>

<div class=information>
    <div id=messages align=center>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
<script>
    $('#notify_span').hide();
    $('#save_span').hide();
</script>    
{% block information %}{% endblock %}
</div>

{% block content %}{% endblock %}

</body>
</html>