<div class=saved_games>
    <table id=history_table align=center>
        <tr>
            <th>Last move</th>
            <th>White</th>
            <th>Black</th>
            <th>Notify?</th>
        </tr>
        {% for match, date in current_user.get_recent_matches()[::-1] %}
        <tr>
            <td><a href='/{{match.match_url}}'>{{ moment(date).calendar() }}</a></td>
            <td id=matchWhite> {{match.white_player.username if match.white_player.username else 'Guest' }}</td>
            <td id=matchBlack> {{ match.black_player.username if match.black_player.username else 'Guest' }}</td>
            {% if current_user.get_color_and_notify(match)[1] %}
                <td ><a class=notify_cell id='{{ loop.index }}' value='on' href=#> On </a> </td>
            {% else %}
                <td class=notify_cell id='notify_{{ loop.index }}' value='off'> Off </td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
</div>
<script>
${'#notify_cell'}.on('click', function () {
    alert($(this).value);
})
</script>