{% extends 'base.html' %}

<!-- <span id="status"></span></i>{% if round_date %} Last move:{{ round_date }} {% endif %}-->

{% block information %}
<div class=playerInfo>
    <table>
        <tr>
            <th></th>
            <th> Status: </th>
            <th></th>
        </tr>
        <tr>
            <td id=whiteplayer>Guest</td>
            <td id=status>
            <td id='blackplayer'">Guest</td>
        </tr>
    </table>
</div>
<br/>
{% endblock %}


{% block content %}
<div class=main_game>
    <script>
        function share()  {
            prompt("Share your game with this link!", "{{ root_path }}"+"{{ game_url }}");
        };
        
        var updatePlayerStatus = function (white, black) {
            document.getElementById('whiteplayer').textContent = white;
            document.getElementById('blackplayer').textContent = black;
        }
        updatePlayerStatus("{{ taken_players['w'] }}", "{{ taken_players['b'] }}");        
    </script>

    <div id="board"></div>
    <script>
        var current_player = '{{ current_player }}'
        var current_fen = '{{ fen }}';
        var root_path = '{{ root_path }}';

        var save_span = '<a id=save_link href="#">Save!</a>'
        var unsave_span = '<span id=save_span><a id=unsave href="#" onclick=unsave();>Un-save!</a> |</span>'
        var action_dict = {
                'save': showUnsave,
                'unsave': showSave
            }        
        function update(action) {
            toggled = action_dict[action];
            $.getJSON($SCRIPT_ROOT +'/_save', {
                action: action,
                match_url: "{{ game_url }}",
                current_player: current_player,
            }, function(data) {
                toggled();
                updatePlayerStatus(data.white_player_name, data.black_player_name);
         })};

        function showSave() {
            document.getElementById('save_link').textContent = 'Save!';
            document.getElementById("save_link").onclick = function (){ 
                update('save');
            };
        };

        function showUnsave() {
            document.getElementById('save_link').textContent = 'Un-save!';
            document.getElementById("save_link").onclick = function () {
                update('unsave');
            };
        };



    </script>

    <script src="{{url_for('static', filename='js/game.js') }} "></script>
 
    <p></p>

    <div class="buttons">
        <button id=undo_move>Undo Move</button>
        <button id=submit_move>Submit Move</button>        

        {% if game_url|length > 1 %}
            <button id=share_button onClick="share()">Share Game!</button>
        {% endif %} 
    </div>

    {% if game_url|length > 1 and taken_players[current_player] == 'Guest' and current_user.username not in taken_players %}
        <script>
            showSave();      
        </script>
    {% elif game_url|length > 1 and current_user.username in taken_players.values() %}
        <script>
            showUnsave();  
        </script>        
    {% endif %}  

</div>
{% endblock %}