{% extends 'base.html' %}

<!-- <span id="status"></span></i>{% if round_date %} Last move:{{ round_date }} {% endif %}-->

{% block information %}
<div class=playerInfo>
    <table>
        <tr>
            <th></th>
            <th> Status: </th>
            <th></th>
        </tr>
        <tr>
            <td id=whiteplayer>Guest</td>
            <td id=status>
            <td id='blackplayer'">Guest</td>
        </tr>
    </table>
</div>
<br/>
{% endblock %}


{% block content %}
<div class=main_game>
    <script>
        function share()  {
            prompt("Share your game with this link!", "{{ root_path }}"+"{{ game_url }}");
        };
        
        var updatePlayerStatus = function (white, black) {
            document.getElementById('whiteplayer').textContent = white;
            document.getElementById('blackplayer').textContent = black;
        }
        updatePlayerStatus("{{ taken_players['w'] }}", "{{ taken_players['b'] }}");        
    </script>

    <div id="board"></div>
    <script>
        var current_player = '{{ current_player }}'
        var current_fen = '{{ fen }}';
        var root_path = '{{ root_path }}';

        var unbookmark = function () {
            $.getJSON($SCRIPT_ROOT +'/_bookmark', {
                action: "unbookmark",
                match_url: "{{ game_url }}",
                current_player: current_player,
            }, function(data) {
                 $("#bookmark_span").replaceWith('<span id=bookmark_span><a id=bookmark href="#" onclick=bookmark();>Bookmark!</a> |</span>');
                updatePlayerStatus(data.white_player_name, data.black_player_name);             
         })};        


        var bookmark = function () {
            $.getJSON($SCRIPT_ROOT +'/_bookmark', {
                action: "bookmark",
                match_url: "{{ game_url }}",
                current_player: current_player,
            }, function(data) {
                $("#bookmark_span").replaceWith('<span id=bookmark_span><a id=unbookmark href="#" onclick=unbookmark();>Un-bookmark!</a> |</span>');
                updatePlayerStatus(data.white_player_name, data.black_player_name);
         })};

    </script>

    <script src="{{url_for('static', filename='js/game.js') }} "></script>

    <p></p>

    <div class="buttons">
        <button id=undo_move>Undo Move</button>
        <button id=submit_move>Submit Move</button>        

        {% if game_url|length > 1 %}
            <button id=share_button onClick="share()">Share!</button>
        {% endif %} 
    </div>

    {% if game_url|length > 1 and taken_players[current_player] == 'Guest' and current_user.username not in taken_players %}
        <script>
            $("#bookmark_span").replaceWith('<span id=bookmark_span><a id=bookmark href="#" onclick=bookmark();>Bookmark!</a> |</span>');
        </script>
    {% elif game_url|length > 1 and current_user.username in taken_players.values() %}
        <script>
            $("#bookmark_span").replaceWith('<span id=bookmark_span><a id=unbookmark href="#" onclick=unbookmark();>Un-bookmark!</a> |</span>');
        </script>        
    {% endif %}  

</div>
{% endblock %}