{% extends 'base.html' %}

{% block information %}
<div class=playerInfo>
    <table>
        <tr>
            <th></th>
            <th> Status: </th>
            <th></th>
        </tr>
        <tr>
            <td id=whiteplayer>Guest</td>
            <td id=status>
            <td id='blackplayer'">Guest</td>
        </tr>
    </table>
</div>
<br/>
{% endblock %}


{% block content %}
<div class=main_game>
    <div id="board"></div>
    <script>
        var root_path = "{{ root_path }}"
        var current_player = '{{ current_player }}'
        var current_fen = '{{ fen }}';
        var root_path = '{{ root_path }}';
        var white = '{{ taken_players["w"] }}';
        var black = '{{ taken_players["b"] }}';
        var game_url = "{{ game_url }}"
        var notify = '{{ notify }}' === 'True' ? true: false;
    </script>

    <script src="{{url_for('static', filename='js/game.js') }} "></script>
 
    <p></p>

    <div class="buttons">
        <form action=#>
            <textarea id=textyForm name="Text1" cols="40" rows="4" maxlength=500 style="width: 98.7%" placeholder="Your note:"></textarea>
            <br/><br/>
            <button id=undo_move>Undo Move</button>
            <button type=submit id=submit_move>Submit Move</button>
        </form>        
        {% if game_url|length > 1 %}
            <button class=share id=share_button data-clipboard-text="{{ root_path + game_url }}">Copy link!</button>
        {% endif %} 
    </div>


    {% if game_url|length > 1 %}
        {% if taken_players[current_player] == 'Guest' and current_user.username not in taken_players %}     
            <script> showSave(); </script>    
        {% elif current_user.username in taken_players.values() %}
            <script>
                showUnsave();
                if (notify == true) {
                    notifyOn();
                } else {
                    notifyOff();
                }
            </script>
        {% endif %} 
    {% endif %} 

<script>
    updatePlayerStatus(white, black);
    if (game.turn() !== current_player) {
        $('textarea#textyForm').hide();
    } else {
        $('textarea#textyForm').show();
    }
    var clipboard = new Clipboard('#share_button');

    clipboard.on('success', function() {
        document.getElementById('share_button').textContent = 'Copied!';
        $('.share').toggleClass('clicked');
    })

    clipboard.on('error', function() {
        share();
    })
</script>
</div>

{% endblock %}