{% extends 'base.html' %}

{% block content %}
<div align=center id=loginDiv >
    <h3>Login</h3>
    <form align=center action="{{ url_for('login', next=request.args.get('next'), game_url=request.args.get('game_url'))}}" method="POST">
        {{ form.email.label }}: <br/>
        {{ form.email(placeholder="your email address")}}<br/>
        {{ form.password.label }}:<br/>
        {{ form.password }}
        <br>
        {{ form.csrf_token }}
        <input type="submit" name="submit"/>
    </form>
</div>
<br/>

<a id=twitterLogin href='{{url_for("login_with_oauth", provider_name="twitter")}}'>Twitter</a>
<a id=googleLogin href='{{url_for("login_with_oauth", provider_name="google")}}'>Google</a>
<script>
$('#googleLogin #twitterLogin').on('click', function () {
        $.getJSON($SCRIPT_ROOT +'/_set_game_url', {
        match_url: '{{ game_url }}',
    }, function() {
        console.log('game url set');
 })
});
</script>


<div align=center style="margin: 0 auto;">
    <a href="/signup"> Sign up! </a>
</div>
{% endblock %}