{% extends 'base.html' %}

{% block information %}
<h4 class=saved_games align=center><span>{{ current_user.username }}</span> profile <a id=logout_link href='/logout'>(logout)</a><span id=logout_span></span>
</h4>
{% endblock %}

{% block content %}

<div class=profile align=center>

    {% if current_user.email_confirmed %}

        <form id=profile_form action="{{ url_for('profile')}}" method="post">
            {% set username = current_user.username %}
            <p>Change username: </p>
            <span id=change_username>
                {{ form.username(placeholder=username) }}
                <input id=save_changes type="submit" name="save_change" value="Save Changes"/>
            </span>
            {{ form.csrf_token }}
        </form>
        <br/>

<h4 class=saved_games align=center>saved games:</h4>    

{% include 'history.html' %}

    {% else %}

        <p> You need to confirm your email to change your profile and see your game history </p>
        <form action="{{ url_for('profile', confirm_email_request=True) }}">
            <input id=send_activation type="Submit" value="Resend activation">
        </form>
        <br/>

    {% endif %}

</div>

{% endblock %}
