{% extends 'base.html' %}

{% block content %}
<h3 align=center>Sign up.</h3>
<form align=center action="{{ url_for('signup')}}" method="post">
    <p>{{ form.username.label }}: </p>
    <p>{{ form.username(placeholder="What should we call you?")}}</p>
    <p>{{ form.email.label }}: </p>
    <p>{{ form.email(placeholder="electonic mail address")}}</p>
    <p>{{ form.password.label }}:</p>
    <p>{{ form.password }}</p>
    {{ form.csrf_token }}
    <input type="submit" name="submit"/>
</form>
{% endblock %}